<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dishes">
            <ion-icon name="restaurant"></ion-icon>
            Platillos
        </ion-tab-button>
        <ion-tab-button tab="products">
            <ion-icon name="list"></ion-icon>
            Ingredientes
        </ion-tab-button>
        <ion-tab-button tab="cart">
            <ion-icon name="cart"></ion-icon>
            Carrito
        </ion-tab-button>
        <ion-tab-button tab="settings">
            <ion-icon name="settings-outline"></ion-icon>
            Ajustes
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
